---
layout: default
title: Tags
---
<h2 class="blog-post-title">{{ page.title }}</h2>
<p class="blog-post-meta">
{% for tag in site.tags %}
<a class="label label-primary" href="#{{ tag[0] }}">{{ tag[0] }}</a>
{% endfor %}
</p>

{% for tag in site.tags %}
<h3 id="{{ tag[0] }}">{{ tag[0] }}</h3>
<ul>
    {% for post in site.posts %}
    {% for posttags in post.tags %}
    {% if posttags == tag[0] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% endfor %}
</ul>
{% endfor %}
    
