<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

   {% if page.title == 'Home' %}
   <title>Chris Jiao's Blog</title>
   {% else %}
   <title>{{ page.title }}</title>
   {% endif %}
   <style type="text/css">
	a{text-decoration: none}
   </style>

   <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
   <!--<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css"/>-->
   <!--<script src="/javascripts/bootstrap.min.js"></script>-->

</head>
<body>

   <div class="navbar navbar-inverse navbar-fixed-top">
       <div class="navbar-inner">
           <div class="container">
               <a class="brand" href="{{ site.baseurl }}">Home</a>
               <div class="nav-collapse">
                   <ul class="nav">
                       <li><a href="/pages/archives.html">Archives</a></li>
                       <li><a  href="/pages/projects.html">Projects</a></li>
                       <li><a href="/pages/about.html">About</a></li>
                       <li><a href="/atom.xml">Rss</a></li>
                   </ul>
               </div>
           </div>
     </div>
  </div>
  <header class="jumbotron subhead">
    <div class="container">
       <h1 style="font-size:60px;text-align:left;font-weight:bold;letter-spacing:-1px;line-height:1;">Code Complement</h1>
       <p style="font-size:24px;text-align:left;font-weight:300;margin-bottom:20px;" class="lead">Make few steps every day.
   </div>
 </header>

  <div id="container" class="container">
  
  
    <section>
      {{ content }}
    </section>

	
  </div>
   <script src="/javascripts/backtotop.js"></script>
   <script src="/javascripts/tools.js"></script>
   </body>
</html>
